name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 3 * * *"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    uses: mentordosnerds/.github/.github/workflows/docker-build-push.yml@main

  delete-old-images:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - uses: bots-house/ghcr-delete-image-action@v1.1.0
        with:
          owner: ${{ github.repository_owner }}
          name: ${{ github.event.repository.name }}
          token: ${{ github.token }}
          untagged-keep-latest: 3
